* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.sidebar-btn {
    color: white;
}

.programs-intro {
    height: 400px;
    background: url('../../assets/placeholder.png'), rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border: 1px solid black;
}

.programs-intro ul {
    gap: 20px;
}

.programs-intro li a {
    color: white;
}

.programs-intro .navbar-brand {
    color: white;
}

.programs-intro .btn {
    color: white;
    border: none;
    background-color: #07c3f6;
}

.programs-heading h1 {
    color: white;
    margin: 60px auto;
    padding: 0px 7rem;
    font-size: 3rem;
}

.underline {
    width: 120px;
    height: 2px;
    background-color: orangered;
}

.program {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 480px);
    justify-content: center;
    column-gap: 12px;
    row-gap: 8px;
    padding: 0px 6px;
    padding-top: 20px;
}

.program-card {
    max-width: 500px;
    height: auto;
    cursor: pointer;
    transition: .6s all ease-in-out;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.program-card:hover {
    box-shadow: 3px 3px 3px lightgray;
}

.program-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.program-description h4 {
    font-size: 20px;
    color: orangered;
}

.program-description p {
    font-size: 18px;
}

.program-description button {
    background: #fff;
    width: 150px;
    padding: 6px 12px;
    border: 2px solid orangered;
    transition: .6s all ease-in-out;
}

.program-description button:hover {
    background: orangered;
}



@media screen and (max-width: 567px) {

    .programs-heading h1 {
        padding: 0;
        padding-left: 4px;
        font-size: 2.5rem;
    }

    .program {
        grid-template-columns: repeat(1, 90%);
        justify-items: center;
        padding: 4px;
    }

    .program-card h4 {
        font-size: 1.5rem;
    }

    .program-card p {
        font-size: 1rem;
        padding: 2px 8px;
    }

}

@media screen and (min-width: 567px) and (max-width: 768px) {
    .programs-heading h1 {
        padding: 0;
        padding-left: 4px;
    }

    .program {
        grid-template-columns: repeat(2, 45%);
    }

    .program-card h4 {
        font-size: 1.5rem;
    }

    .program-card p {
        font-size: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .program {
        padding: 2px 6px;
        grid-template-columns: repeat(2, 40%);
    }
}