* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.programs-intro {
    height: 400px;
    background: url('../../assets/placeholder.png'), rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border: 1px solid black;
}

.programs-intro ul {
    gap: 20px;
}

.programs-intro li a {
    color: white;
}

.programs-intro .navbar-brand {
    color: white;
}

.programs-intro .btn {
    color: white;
    border: none;
    background-color: #07c3f6;
}

.programs-heading h1 {
    color: white;
    margin: 60px auto;
    padding: 0px 7rem;
    font-size: 3rem;
}

.underline {
    width: 120px;
    height: 2px;
    background-color: orangered;
}

.program {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    padding-top: 20px;
}

.program-card {
    height: auto;
    cursor: pointer;
    transition: .6s all ease-in-out;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.program-card:hover {
    box-shadow: 3px 3px 3px lightgray;
}

.program-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.program-description h4 {
    font-size: 26px;
}

.program-description p {
    font-size: 18px;
}

.program-description button {
    background: orangered;
    width: 150px;
    padding: 6px 12px;
    border: 2px solid orangered;
    transition: .6s all ease-in-out;
}

.program-description button:hover {
    background: none;
}