* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.footer {
    background-color: #07c2f637;
}

.intro {
    color: black;
}

.intro h1 {
    text-transform: uppercase;
    color: #07c3f6;
}

.intro p {
    width: 70%;
}

.intro button {
    width: 120px;
    padding: 6px 16px;
    border: 1px solid #07c3f6;
    background-color: #07c3f6;
    transition: .6s all ease;
}

.intro button:hover {
    color: white;
    border: 1px solid #07c3f6;
}

.intro button a {
    text-decoration: none;
    color: black;
}

.links h1 {
    color: rgb(99, 99, 99);
}

.links ul {
    list-style-type: none;
}

.links ul li {
    padding: 6px 0px;
}

.links ul li a{
    text-decoration: none;
    color: black;
    transition: .6s all ease-in-out;
}

.links ul li a:hover {
    padding-left: 6px;
    color: #07c3f6;
}

.location h1 {
    color: rgb(99, 99, 99);
}

.contact {
    margin: 4px 0px;
    padding: 2px 30px;
}

.social-links a {
    color: black;
}

.social-icon {
    transition: .6s all ease;
    cursor: pointer;
}

.social-icon:hover {
    color: orangered;
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright p {
    font-style: italic;
    font-weight: 400 !important;
}

@media screen and (max-width: 567px) {
    .major {
        flex-direction: column;
    }

    .intro {
        padding: 0px 6px;
    }

    .links {
        margin-top: 26px;
    }

    .socials {
        flex-direction: row;
    }

    .social-icon {
        font-size: 16px !important;
    }

    .socials h1 {
        font-size: 1rem !important;
    }

}

@media screen and (min-width: 567px) and (max-width: 768px) {
    .major {
        flex-direction: column;
        padding-left: 10%;
    }

    .links {
        margin-top: 26px;
    }

    .socials {
        flex-direction: row;
        padding: 0px 6px;
    }

    .socials h1 {
        font-size: 1rem !important;
    }
}